*{


  
    font-family: 'Nunito', sans-serif;
 }
 
 
 #content {
   margin-top: 5%;
   margin-right: 25%;
   margin-left: 10%;
   padding-left: 10%;
 }
 
 h1 {
   
   font-family: 'Poppins', sans-serif;
 
 }
 
 h2 {
   
   font-family: 'Poppins', sans-serif;
 
 }
 
 h3 {
   
   font-family: 'Poppins', sans-serif;
 
 }
 
 
 p {
 
   font-family: 'Nunito', sans-serif;
 
 
 }
 
 li {
 
 font-family: 'Nunito', sans-serif;
 
 
 }
