*{


  
    font-family: 'Nunito', sans-serif;
 }
 
 
 #content {
   margin-top: 5%;
   margin-right: 25%;
   margin-left: 10%;
   padding-left: 10%;
 }
 
 h1 {
   
   font-family: 'Poppins', sans-serif;
 
 }
 
 h2 {
   
   font-family: 'Poppins', sans-serif;
 
 }
 
 h3 {
   
   font-family: 'Poppins', sans-serif;
 
 }
 
 
 p {
 
   font-family: 'Nunito', sans-serif;
 
 
 }
 
 li {
 
 font-family: 'Nunito', sans-serif;
 
 
 }


/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #080024;
  color: #3dc6f2;
  font-size: 17.5px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #3dc6f2;
  color: white;
}